@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<img src="~/Images/User/download.png" style="width: 200px; height: 200px;border-radius: 50%"/>
<address>
    Avot Yeshurun 12/4<br />
    Ashdod<br />
    <abbr title="Phone">P:</abbr>
0545429565
</address>

<address>
    <strong>Sergey Svanidze:</strong>   <a href="#">servw23@gmail.com</a><br />
    <strong>My another projects:</strong> <a href="http://rentcar.sergeyprsv.com/">rentcar.sergeyprsv.com/</a>
</address>