@model IEnumerable<QualitestProject.Models.UsersTable>
@{
    ViewBag.Title = "logIn";
    
}

<h2 >LogIn</h2>



<div class="col-sm-12">
    <div class=" col-sm-4">

    </div>
    <div class="modal-content col-sm-4">
        <div class="modal-header">
         
            <h4>Some details about you...</h4>
        </div>
       
        <div class="modal-body ">

            <input type="text" id="uuname" placeholder="Username" name="UserName" class="form-control col-sm-12" required />
                  
            <input type="password" id="upass" placeholder="Password" name="Pass" class="form-control col-sm-12" required />
                           
            <div class="modal-header"></div>

            <input class="btn btn-success col-sm-12 " type="submit" title="save" value="Submit" onclick="submitLogin()" />
            <label>Not Registered?</label><a href="http://localhost:60205/Home/registration">Click here to register</a>
                
        </div>
    
    </div>
</div>
<br/><br/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />




